<%- include("partials/header.ejs") %>
    <!--Choose Countries-->
    <% if (locals.dataError) { %>
        <div class="container mt-3">
            <p class="text-center">
                <%= dataError %>
            </p>
        </div>
        <% } else { %>
            <section>
                <form action="/submit" method="POST">

                    <div class="container d-flex justify-content-between mt-3">
                        <div>
                            <div class="text-center">
                                <% if (locals.country1Flag) { %>
                                    <img src='<%= country1Flag %>' alt='<%= locals.country1Name %> flag' width="400px">
                                    <% } %>
                                        <h3 class="text-center">
                                            <% if (locals.country1Name) {%>
                                                <%= country1Name %>
                                                    <% } else { %>
                                                        Choose first country:
                                                        <% } %>
                                        </h3>

                                        <select name="SelectFirstCountry" id="firstSelection" class="rounded-pill">
                                            <% for (var i=0; i < locals.countryArray.length; i++) { %>
                                                <option value='<%= countryArray[i]["code"] %>'>
                                                    <%= countryArray[i]["name"] %>
                                                </option>
                                                <% } %>
                                        </select>
                            </div>
                        </div>

                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <h4>
                                <%= locals.country1Population %>
                            </h4>
                            <h1 class="px-3">
                                <%= locals.year %>
                            </h1>
                            <h4>
                                <%= locals.country2Population %>
                            </h4>
                        </div>

                        <div>
                            <div class="text-center">
                                <% if (locals.country1Flag) { %>
                                    <img src='<%= locals.country2Flag %>' alt='<%= locals.country2Name %> flag'
                                        width="400px">
                                    <% } %>
                                        <h3 class="text-center">
                                            <% if (locals.country2Name) {%>
                                                <%= country2Name %>
                                                    <% } else { %>
                                                        Choose first country:
                                                        <% } %>
                                        </h3>

                                        <select name="SelectSecondCountry" id="secondSelection" class="rounded-pill">
                                            <% for (var i=0; i < locals.countryArray.length; i++) { %>
                                                <option value='<%= countryArray[i]["code"] %>'>
                                                    <%= countryArray[i]["name"] %>
                                                </option>
                                                <% } %>
                                        </select>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex justify-content-center">
                        <input type="submit" value="submit" class="btn btn-dark rounded-pill mt-3">
                    </div>

                </form>
            </section>
            <% } %>



                <% if (locals.error) { %>
                    <div class="container">
                        <p class="text-center">
                            <%= error %>
                        </p>
                    </div>
                    <% } %>



                        <%- include("partials/footer.ejs") %>